# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


*.cdb
*.hdb

*.bak

simulation
CMakeFiles
cmake_install.cmake
CMakeCache.txt

*.rpt
*.summary
*.mif
*.pof
*.sof
*.pin
*.bpm
*.idb
*.rdb
*.hsd
*.qmsg
*.db_info
*.qmsg
*.hif
*.hier_info
db
incremental_db
